body {
    font-family: Arial, sans-serif;
    background-image: url("../images/bg_login.jpg"); 
    background-size: cover;         
    background-position: center;    
    background-repeat: no-repeat;   
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-container {
    background-color: #1e2123;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 350px;
    text-align: center;
}

h1 {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #3c3c3c;
    color: #ffffff;
    outline: none;
}

input[type="text"]::placeholder, input[type="password"]::placeholder {
    color: #aaaaaa;
}

input[type="submit"] {
    padding: 10px;
    font-size: 16px;
    background-color: #117586;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #03c58b;
}

.error {
    color: #ff5555;
    font-size: 14px;
    margin-top: 10px;
}